{
    "<Looker Outbound Webhook Token>": {
        "base_url": "https://customer.looker.com",
        "github_token": "<Github Personal Token>",
        "projects": [
            {
                "project_id": "<project being updated>",
                "repository": "<github path (e.g. organization/repo)>",
                "X-Looker-Deploy-Secret": "< (optional) Looker Project Deploy Secret>"
            }
        ]
    }
}