{
    "1234567890abcdefghijklmnopqrstuvwxyz1234567890ABCDEFGHIJKLMNOPQR": {
        "base_url": "https://customer.looker.com)",
        "github_token": "1234567890abcdefghijklmnopqrstuvwxyzABCD",
        "projects": [
            {
                "project_id": "thelook",
                "repository": "looker/thelook",
                "X-Looker-Deploy-Secret": "1234567890abcdefghijklmnopqrstuv"
            },{
                "project_id": "thelook_with_events",
                "repository": "looker/thelook_event",
                "X-Looker-Deploy-Secret": "90abcdefghijklmnopqrstuvwxyzABCD"
            }
        ]
    },
    "1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqr": {
        "base_url": "https://devcustomer.looker.com)",
        "github_token": "1234567890abcdefghijklmnopqrstuvwxyzABCD",
        "projects": [
            {
                "project_id": "thelook_dev",
                "repository": "looker/thelook_dev",
                "X-Looker-Deploy-Secret": ""
            },{
                "project_id": "thelook_with_events_dev",
                "repository": "looker/thelook_event_dev",
                "X-Looker-Deploy-Secret": ""
            }
        ]
    }
}